<mat-select
  [id]="id"
  [formControl]="formControl"
  [formlyAttributes]="field"
  [placeholder]="props.placeholder || 'Select Generations'"
  [tabIndex]="props.tabindex"
  [required]="false"
  [multiple]="true"
  [errorStateMatcher]="errorStateMatcher"
  [aria-label]="'Select Pokemon Generations'"
  [disableOptionCentering]="true"
  *transloco="let t"
>
  <mat-option *ngFor="let generation of service.getAll$() | async" [value]="generation.name">
    {{ t('generation.' + generation.name + '.name') }}
  </mat-option>
</mat-select>
