<mat-select
  [id]="id"
  [formControl]="formControl"
  [formlyAttributes]="field"
  [placeholder]="props.placeholder || 'Select Generations'"
  [tabIndex]="props.tabindex"
  [required]="false"
  [multiple]="true"
  [errorStateMatcher]="errorStateMatcher"
  [aria-label]="'Select Pokemon Generations'"
  [disableOptionCentering]="true"
  *transloco="let t"
>
  @for (generation of service.getAll$() | async; track generation.id) {
    <mat-option [value]="generation.name">
      {{ t('generation.' + generation.name) }}
    </mat-option>
  }
</mat-select>
