<mat-select
  [id]="id"
  [formControl]="formControl"
  [formlyAttributes]="field"
  [placeholder]="props.placeholder || 'Select Categories'"
  [tabIndex]="props.tabindex"
  [required]="false"
  [multiple]="true"
  [errorStateMatcher]="errorStateMatcher"
  [aria-label]="'Select Item Category Types'"
  [disableOptionCentering]="true"
  *transloco="let t"
>
  @for (itemCategory of service.getAll$() | async; track itemCategory) {
    <mat-option [value]="itemCategory.name">
      {{ t('item_category.' + itemCategory.name) }}
    </mat-option>
  }
</mat-select>
