:host {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .mat-accordion {
    .mat-expansion-panel-header-title {
      flex: 5;
    }

    .mat-expansion-panel-header-description {
      justify-content: space-between;
      align-items: center;
    }
  }
}
