<pokedex-pokemon-detail-profile></pokedex-pokemon-detail-profile>

<mat-accordion *transloco="let t" class="mat-icon-accordion">
  <mat-expansion-panel class="unpadded">
    <mat-expansion-panel-header>
      <mat-panel-title> Info</mat-panel-title>
      <mat-panel-description>
        &nbsp;
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <pokedex-pokemon-detail-info [pokemon]="pokemon$ | async"></pokedex-pokemon-detail-info>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel class="unpadded">
    <mat-expansion-panel-header>
      <mat-panel-title> Species</mat-panel-title>
      <mat-panel-description>
        &nbsp;
        <mat-icon>map</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <pokedex-pokemon-detail-species [species]="species$ | async"></pokedex-pokemon-detail-species>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel class="unpadded">
    <mat-expansion-panel-header>
      <mat-panel-title> Evolution Chain</mat-panel-title>
      <mat-panel-description>
        &nbsp;
        <mat-icon>date_range</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <pokedex-pokemon-detail-evolution-chain
        [evolutionChain]="evolutionChain$ | async"></pokedex-pokemon-detail-evolution-chain>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel class="unpadded">
    <mat-expansion-panel-header>
      <mat-panel-title> Stats</mat-panel-title>
      <mat-panel-description>
        &nbsp;
        <mat-icon>date_range</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <pokedex-pokemon-detail-stats [pokemon]="pokemon$ | async"></pokedex-pokemon-detail-stats>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Type</mat-panel-title>
      <mat-panel-description>
        &nbsp;
        <mat-icon>date_range</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <pokedex-pokemon-detail-type-damages [pokemon]="pokemon$ | async"></pokedex-pokemon-detail-type-damages>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Abilities</mat-panel-title>
      <mat-panel-description>
        &nbsp;
        <mat-icon>date_range</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <pokedex-pokemon-detail-abilities [abilities]="abilities$ | async"></pokedex-pokemon-detail-abilities>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel class="unpadded">
    <mat-expansion-panel-header>
      <mat-panel-title> Moves</mat-panel-title>
      <mat-panel-description>
        &nbsp;
        <mat-icon>date_range</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <mat-expansion-panel class="unpadded">
    <mat-expansion-panel-header>
      <mat-panel-title> Machines Moves</mat-panel-title>
      <mat-panel-description>
        &nbsp;
        <mat-icon>date_range</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</mat-accordion>
