<pokedex-pokemon-detail-profile></pokedex-pokemon-detail-profile>

<mat-accordion *transloco="let t" class="mat-icon-accordion">
  <mat-expansion-panel class="unpadded">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ t('ui.pokemon.detail.info.expansion_title') }}</mat-panel-title>
      <mat-panel-description> &nbsp; </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <pokedex-pokemon-detail-info [pokemon]="pokemon$ | async"></pokedex-pokemon-detail-info>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel class="unpadded">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ t('ui.pokemon.detail.species.expansion_title') }}</mat-panel-title>
      <mat-panel-description> &nbsp; </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <pokedex-pokemon-detail-species [species]="species$ | async"></pokedex-pokemon-detail-species>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel class="unpadded">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ t('ui.pokemon.detail.evolution.expansion_title') }}</mat-panel-title>
      <mat-panel-description> &nbsp; </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <pokedex-pokemon-detail-evolution-chain
        [evolutionChain]="evolutionChain$ | async"
      ></pokedex-pokemon-detail-evolution-chain>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel class="unpadded">
    <mat-expansion-panel-header>
      <mat-panel-title>{{ t('ui.pokemon.detail.stats.expansion_title') }}</mat-panel-title>
      <mat-panel-description> &nbsp; </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <pokedex-pokemon-detail-stats [pokemon]="pokemon$ | async"></pokedex-pokemon-detail-stats>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>{{ t('ui.pokemon.detail.types.expansion_title') }}</mat-panel-title>
      <mat-panel-description> &nbsp; </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <pokedex-pokemon-detail-type-damages [pokemon]="pokemon$ | async"></pokedex-pokemon-detail-type-damages>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>{{ t('ui.pokemon.detail.abilities.expansion_title') }}</mat-panel-title>
      <mat-panel-description> &nbsp; </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <pokedex-pokemon-detail-abilities [abilities]="abilities$ | async"></pokedex-pokemon-detail-abilities>
    </ng-template>
  </mat-expansion-panel>

  <ng-container *ngFor="let moveByLearnMethod of movesByLearnMethods$ | async">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{
          t('ui.pokemon.detail.moves.method', {
            method: t('move_learn_method.' + moveByLearnMethod.learnMethod + '.name')
          })
        }}</mat-panel-title>
        <mat-panel-description> &nbsp; ({{ moveByLearnMethod.moves.length }})</mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <pokedex-pokemon-detail-moves [moves]="moveByLearnMethod.moves"></pokedex-pokemon-detail-moves>
      </ng-template>
    </mat-expansion-panel>
  </ng-container>
</mat-accordion>
