<div class="bottom-bar-header">
  <button mat-icon-button aria-label="Clear" (click)="bottomBarService.clear()" [matTooltip]="'Clear'">
    <mat-icon class="material-icons-outlined">backspace</mat-icon>
  </button>
  <span>FILTERS</span>
  <button mat-icon-button aria-label="Hide Bottom Bar" (click)="bottomSheetRef.dismiss()" [matTooltip]="'Close'">
    <mat-icon>keyboard_double_arrow_down</mat-icon>
  </button>
</div>
<mat-divider></mat-divider>
<div class="bottom-bar-content">
  <router-outlet name="bottom-bar"></router-outlet>
</div>
