:host {
  overflow: auto;
  height: 100%;

  .mat-mdc-list-base {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
  }

  .sidenav-container {
    height: 100%;

    .sidenav {
      width: 200px;

      .mat-toolbar {
        position: sticky;
        background: inherit;
        top: 0;
        z-index: 1;
      }
    }
  }

  .mat-sidenav-content {
    display: flex;
    overflow-x: hidden;
  }

  .flex {
    flex: 1 1 auto;
  }
}
