<mat-toolbar color="primary" isMobileClass>
  <button type="button" aria-label="Toggle side Nav" mat-icon-button (click)="sidenavService.toggle()">
    <mat-icon aria-label="Side Nav toggle icon">menu</mat-icon>
  </button>
  <span> Toolbar </span>
  <div class="flex-stretch"></div>

  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Change the active language"
    *ngIf="languageService.activeLanguage$ | async as activeLanguage"
  >
    <img
      class="active-language-button"
      src="https://flagcdn.com/20x15/{{ activeLanguage.iso3166 }}.png"
      srcset="https://flagcdn.com/40x30/{{ activeLanguage.iso3166 }}.png 2x, https://flagcdn.com/60x45/{{ activeLanguage.iso3166 }}.png 3x"
      width="20"
      height="15"
      alt="{{ activeLanguage.name }}"
    />
  </button>
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      *ngFor="let language of languageService.getAll() | async"
      (click)="languageService.activeLanguage = language.name"
    >
      <img
        ngSrc="https://flagcdn.com/16x12/{{ language.iso3166 }}.png"
        srcset="https://flagcdn.com/32x24/{{ language.iso3166 }}.png 2x,https://flagcdn.com/48x36/{{ language.iso3166 }}.png 3x"
        width="16"
        height="12"
        alt="{{ language.name }}"
      />
      <span> {{ 'LANGUAGE.' + language.name + '.NAME' | transloco }}</span>
    </button>
  </mat-menu>

  <button
    mat-icon-button
    aria-label="Toggle Bottom Bar"
    (click)="bottomBarService.toggle()"
    *ngIf="bottomBarService.isActive$ | async"
  >
    <mat-icon>{{ (bottomBarService.isOpen$ | async) ? 'filter_alt_off' : 'filter_alt' }}</mat-icon>
  </button>
  <button
    mat-icon-button
    aria-label="Toggle Side Bar"
    (click)="sidebarService.toggle()"
    *ngIf="sidebarService.isActive$ | async"
  >
    <mat-icon>{{
      (sidebarService.isOpen$ | async) ? 'keyboard_double_arrow_right' : 'keyboard_double_arrow_left'
    }}</mat-icon>
  </button>
</mat-toolbar>
