<mat-toolbar color="primary" isMobileClass>
  <button type="button" aria-label="Toggle side Nav" mat-icon-button (click)="sidenavService.toggle()">
    <mat-icon aria-label="Side Nav toggle icon">menu</mat-icon>
  </button>
  <span> {{ titleService.title$ | async }} </span>
  <div class="flex-stretch"></div>
  <pokedex-version-group-picker></pokedex-version-group-picker>
  <pokedex-language-picker></pokedex-language-picker>
  <pokedex-theme-picker></pokedex-theme-picker>
  <button
    mat-icon-button
    aria-label="Toggle Side Bar"
    (click)="sidebarService.toggle()"
    *ngIf="sidebarService.isActive$ | async"
  >
    <mat-icon>{{
      (sidebarService.isOpen$ | async) ? 'keyboard_double_arrow_right' : 'keyboard_double_arrow_left'
    }}</mat-icon>
  </button>
</mat-toolbar>
