<ng-container *transloco="let t">
  @if (item$ | async; as item) {
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>{{ t('item.' + item.name + '.name') }}</mat-card-title>
      </mat-card-header>
      @if (item.sprites.default) {
        <img
          mat-card-image
          ngSrc="{{ item.sprites.default }}"
          [alt]="item.name"
          width="96"
          height="96"
          priority
          imgFallback="assets/images/default-pokemon.png"
        />
      }
      <mat-card-content>
        <mat-accordion class="mat-icon-accordion" multi>
          <mat-expansion-panel class="unpadded" expanded>
            <mat-expansion-panel-header>
              <mat-panel-title>{{ t('ui.item.detail.info.title') }}</mat-panel-title>
              <mat-panel-description>
                <button
                  matIconButton
                  [routerLink]="['/', { outlets: { primary: ['item'], sidebar: ['item', item.name] } }]"
                  (click)="$event.stopPropagation()"
                >
                  <mat-icon>open_in_new</mat-icon>
                </button>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <pokedex-item-detail-info [item]="item" [showMachineLink]="false"></pokedex-item-detail-info>
            </ng-template>
          </mat-expansion-panel>
          @if (move$ | async; as move) {
            <mat-expansion-panel class="unpadded" expanded>
              <mat-expansion-panel-header>
                <mat-panel-title>{{ t('ui.move.detail.info.title') }}</mat-panel-title>
                <mat-panel-description>
                  <button
                    matIconButton
                    [routerLink]="['/', { outlets: { primary: ['move'], sidebar: ['move', move.name] } }]"
                    (click)="$event.stopPropagation()"
                  >
                    <mat-icon>open_in_new</mat-icon>
                  </button>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <pokedex-move-detail-info [move]="move" [showMachineLink]="false"></pokedex-move-detail-info>
              </ng-template>
            </mat-expansion-panel>
          }
        </mat-accordion>
      </mat-card-content>
    </mat-card>
  }
</ng-container>
