<mat-select
  [id]="id"
  [formControl]="formControl"
  [formlyAttributes]="field"
  [placeholder]="props.placeholder || 'Select Types'"
  [tabIndex]="props.tabindex"
  [required]="false"
  [multiple]="true"
  [errorStateMatcher]="errorStateMatcher"
  [aria-label]="'Select Pokemon Types'"
  [disableOptionCentering]="true"
>
  <mat-option *ngFor="let type of service.getAll() | async" [value]="type.name">
    <pokedex-type-button [types]="[type.name]"></pokedex-type-button>
  </mat-option>
</mat-select>
