@use '@angular/material' as mat;

@include mat.core();

$pokedex-primary: mat.define-palette(mat.$indigo-palette);
$pokedex-accent: mat.define-palette(mat.$pink-palette);
$pokedex-warn: mat.define-palette(mat.$red-palette);

$pokedex-theme: mat.define-light-theme(
  (
    color: (
      primary: $pokedex-primary,
      accent: $pokedex-accent,
      warn: $pokedex-warn,
    ),
    typography: mat.define-typography-config(),
  )
);

$pokedex-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $pokedex-primary,
      accent: $pokedex-accent,
      warn: $pokedex-warn,
    ),
  )
);

@include mat.all-component-themes($pokedex-theme);

.dark-mode {
  @include mat.all-component-colors($pokedex-dark-theme);
}

html,
body {
  height: 100%;

  &.cdk-global-scrollblock {
    overflow: hidden;
  }
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-bottom-sheet-container.mat-bottom-sheet-container {
  padding: 0;
  min-width: unset;
}

.mat-icon {
  &.fa,
  &.fab,
  &.far {
    font-size: 24px;
  }
}

.mat-expansion-panel.unpadded .mat-expansion-panel-body {
  padding: 0;
}

.mat-table.mat-static-table {
  display: block;

  .mat-row,
  .mat-header-row {
    display: flex;
    align-items: center;
    min-height: 48px;
    padding: 14px 24px;
    box-sizing: border-box;
  }

  .mat-cell,
  .mat-header-cell {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
  }
}
