<ng-container *transloco="let t">
  <span
    matRipple
    class="types-container"
    [class.multi-type]="types.length > 1"
    [class.clickable]="clickable"
    [class.full-width]="fullWidth"
    (click)="
      clickable && (attacking || defending) && typeDetailService.openTypesDialog({ types, attacking, defending })
    "
  >
    <button mat-flat-button class="type-1" *ngIf="types?.[0] as type1" [style.background-color]="type1 | typeColor">
      <b> {{ t('type.' + type1 + '.name') | uppercase }} </b>
    </button>
    <ng-container *ngIf="types?.[1] as type2">
      <mat-icon class="type-merge" [style.background-color]="types[0] | typeColor: types[1]">merge</mat-icon>
      <button mat-flat-button class="type-2" [style.background-color]="type2 | typeColor">
        <b> {{ t('type.' + type2 + '.name') | uppercase }} </b>
      </button>
    </ng-container>
  </span>
</ng-container>
