<ng-container *ngIf="abilities?.length; else noAbilities">

  <mat-accordion *transloco="let t" class="mat-icon-accordion">
    <mat-expansion-panel class="unpadded" *ngFor="let ability of abilities">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ t('ability.' + ability.name + '.name') }}</mat-panel-title>
        <mat-panel-description>
          &nbsp;
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <pokedex-ability-detail-info [ability]="ability"></pokedex-ability-detail-info>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</ng-container>
<ng-template #noAbilities>
  <div>No abilities</div>
</ng-template>
