@if (abilities?.length) {
  <mat-accordion *transloco="let t" class="mat-icon-accordion">
    @for (abilityName of abilities; track abilityName) {
      <mat-expansion-panel class="unpadded">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ t('ability.' + abilityName + '.name') }}</mat-panel-title>
          <mat-panel-description> &nbsp;</mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          @if (abilityName | abilityResolver | async; as ability) {
            <pokedex-ability-detail-info [ability]="ability"></pokedex-ability-detail-info>
          } @else {
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          }
        </ng-template>
      </mat-expansion-panel>
    }
  </mat-accordion>
} @else {
  <div>No abilities</div>
}
