@if (moves?.length) {
  <mat-accordion *transloco="let t" class="mat-icon-accordion">
    @for (moveDetail of moves; track moveDetail) {
      <mat-expansion-panel class="unpadded">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ t('move.' + moveDetail.move + '.name') }}</mat-panel-title>
          @if (moveDetail.levelLearnedAt) {
            <mat-panel-description>{{ moveDetail.levelLearnedAt }}</mat-panel-description>
          }
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          @if (moveDetail.move | moveResolver | async; as move) {
            <pokedex-move-detail-info [move]="move"></pokedex-move-detail-info>
          } @else {
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          }
        </ng-template>
      </mat-expansion-panel>
    }
  </mat-accordion>
} @else {
  <div>No moves</div>
}
