@for (descendant of link.evolves_to; track descendant) {
  <div class="chain-link" *transloco="let t">
    <div class="chain-link-info">
      <ng-container *ngTemplateOutlet="pokemonLinkTemplate; context: { link: link }"></ng-container>
      <mat-icon class="chain-arrow">double_arrow</mat-icon>
      <ng-container *ngTemplateOutlet="pokemonLinkTemplate; context: { link: descendant }"></ng-container>
      <ng-template #pokemonLinkTemplate let-link="link">
        <a [routerLink]="['/', { outlets: { sidebar: ['pokemon', link.species.name] } }]" class="chain-half-link">
          <div class="species-name">{{ t('pokemon.' + link.species.name) }}</div>
          <img
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{
              link.species.url | resourceId
            }}.png"
            alt="Pokemon Image"
            imgFallback="assets/images/default-pokemon.png"
          />
        </a>
      </ng-template>
    </div>
    <div class="chain-link-details">
      @for (detail of descendant.evolution_details; track detail) {
        <mat-icon class="chain-arrow">keyboard_arrow_right</mat-icon>
        @if (detail.trigger) {
          <span>{{ t('evolution_trigger.' + detail.trigger.name) }}</span>
        }
        @if (detail.min_level) {
          <span>{{ t('ui.pokemon.detail.evolution.level', { level: detail.min_level }) }}</span>
        }
        @if (detail.item) {
          <span>{{ t('ui.pokemon.detail.evolution.item', { item: t('item.' + detail.item.name + '.name') }) }}</span>
        }
        @if (detail.gender) {
          <span>{{ t('ui.pokemon.detail.evolution.gender.' + detail.gender) }}</span>
        }
        @if (detail.held_item) {
          <span>{{
            t('ui.pokemon.detail.evolution.held_item', { item: t('item.' + detail.held_item.name + '.name') })
          }}</span>
        }
        @if (detail.known_move) {
          <span>{{
            t('ui.pokemon.detail.evolution.known_move', { move: t('move.' + detail.known_move.name + '.name') })
          }}</span>
        }
        @if (detail.known_move_type) {
          <span>{{
            t('ui.pokemon.detail.evolution.known_move_type', {
              type: t('type.' + detail.known_move_type.name + '.name'),
            })
          }}</span>
        }
        @if (detail.location) {
          <span>{{
            t('ui.pokemon.detail.evolution.location', {
              location: t('location.' + detail.location.name),
              region: t('region.' + (detail.location.name | locationRegion)),
            })
          }}</span>
        }
        @if (detail.min_happiness) {
          <span>{{ t('ui.pokemon.detail.evolution.happiness', { happiness: detail.min_happiness }) }}</span>
        }
        @if (detail.min_beauty) {
          <span>{{ t('ui.pokemon.detail.evolution.beauty', { beauty: detail.min_beauty }) }}</span>
        }
        @if (detail.min_affection) {
          <span>{{ t('ui.pokemon.detail.evolution.affection', { affection: detail.min_affection }) }}</span>
        }
        @if (detail.needs_overworld_rain) {
          <span>{{ t('ui.pokemon.detail.evolution.needs_rain') }}</span>
        }
        @if (detail.party_species) {
          <span>{{
            t('ui.pokemon.detail.evolution.party_species', { species: t('pokemon.' + detail.party_species.name) })
          }}</span>
        }
        @if (detail.party_type) {
          <span>{{
            t('ui.pokemon.detail.evolution.party_type', { type: t('type.' + detail.party_type.name + '.name') })
          }}</span>
        }
        @if (detail.relative_physical_stats || detail.relative_physical_stats === 0) {
          <span>{{ t('ui.pokemon.detail.evolution.relative_physical_stats.' + detail.relative_physical_stats) }}</span>
        }
        @if (detail.time_of_day.length && detail.time_of_day.length > 0) {
          <span>{{ t('ui.pokemon.detail.evolution.time_of_day.' + detail.time_of_day) }}</span>
        }
        @if (detail.trade_species) {
          <span>{{
            t('ui.pokemon.detail.evolution.trade_species', { species: t('pokemon.' + detail.trade_species.name) })
          }}</span>
        }
        @if (detail.turn_upside_down) {
          <span>{{ t('ui.pokemon.detail.evolution.turn_upside_down') }}</span>
        }
      }
    </div>
  </div>
  <mat-divider></mat-divider>
  <pokedex-pokemon-detail-evolution-chain-link [link]="descendant"></pokedex-pokemon-detail-evolution-chain-link>
}
